# --- Default ignored files ---


# --- Default ignored directories ---
/.idea
/.vs
/__pycache__/
**/__pycache__/
# --- Specific ingnored files ---


# --- Specific ingnored directories ---


# --- Environments ---
.env
.venv
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/